.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar{
    border: none;
    padding: 0;
}

#avatar::-webkit-file-upload-button {
    visibility: hidden;
}

#avatar::before {
    content: 'Selecione a foto';
    display: inline-block;
    background: #fff;
    border: 2px solid red;
    border-radius: 3px;
    padding: 15px 0px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: red;
    font-weight: 700;
    width: 19.8vw;
    text-align: center;
}

#avatar:hover::before {
    transition: .4s;
    background: red;
    color: #fff

}

#avatar:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

select{
    width: 20vw;
    font-size: 25px;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
}